.carousel-item {
  margin-top: 10vh;
  width: 100vw;
  height: 75vh;
}

.carousel-inner-item-1,
.carousel-inner-item-2,
.carousel-inner-item-3 {
  height: 100%;
  width: 100%;
}

.carousel-inner-item-1 {
  background-image: linear-gradient(
      to right,
      rgba($color-black, 0.6),
      rgba($color-black, 0.6)
    ),
    url(/carousel1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-inner-item-1 h2,
.carousel-inner-item-1 p,
.carousel-inner-item-2 h2,
.carousel-inner-item-2 p,
.carousel-inner-item-3 h2,
.carousel-inner-item-3 p {
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  color: $color-white;
}

.carousel-inner-item-2 {
  background-image: linear-gradient(
      to right,
      rgba($color-black, 0.6),
      rgba($color-black, 0.6)
    ),
    url(/carousel2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-inner-item-3 {
  background-image: linear-gradient(
      to right,
      rgba($color-black, 0.6),
      rgba($color-black, 0.6)
    ),
    url(/carousel3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
