.accomplishments {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color-gold;
  color: $color-black;
  padding: 0 10vw;
}

.accomplishments-1,
.accomplishments-2,
.accomplishments-3,
.accomplishments-4 {
  @include back-trans;
  display: flex;
}
